.App {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.header {
  width: 100%;
  background-color: #5281ce30;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #1c3969;
  margin: 0;
  padding: 20px 20px 7px 20px;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: #1c3969;
}

.controls {
  display: flex;
  justify-content: center;
}

.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  padding: 50px;
}

.array-bar {
  width: 20px;
  background-color: #3498db;
  margin: 0 1px;
  transition: height 0.2s;
}

.highlighted {
  background-color: yellow;
}

.sorting {
  background-color: red;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
