@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 20px;
}

.header {
  width: 100%;
  background-color: #ee1457;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
}

h2 {
  color: #ffffff;
  margin: 0;
  padding: 20px;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: #ffffff;
}

.controls {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  background-color: #f7f7f7;
}

.leftContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding-left: 50px;
}

.desc {
  flex: 0.6;
}

p,
li {
  text-align: justify;
  font-size: 16px;
}

.performance {
  flex: 0.4;
}

.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  width: auto;
}

.array-bar {
  width: 20px;
  background-color: #3498db;
  margin: 0 1px;
  transition: height 0.2s;
}

.highlighted {
  background-color: yellow;
}

.sorting {
  background-color: red;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
