.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.bars-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.bar {
  width: 50px;
  margin: 0 2px;
  background-color: #47d1d1;
  transition: height 0.1s ease-in-out;
}

.compare {
  background-color: #f54b42;
}

.swap {
  background-color: #41f584;
}

.controls-container {
  margin-top: 30px;
}

.btn {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #47d1d1;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  background-color: #ccc;
  cursor: default;
}
